<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
    <body>
        <div class="author-details-001">
            <div th:if="${user == null}"><nav th:if="${user == null}" th:replace="fragments/component-nav01 :: nav"></nav></div>
            <div th:if="${user != null}"><nav th:unless="${user == null}" th:replace="fragments/component-nav02 :: nav"></nav></div>
            <div class="group-1">
                <img class="imagotipo2" th:src="${author.getImage()}"  alt=""/>
                <div class="frame-8">
                    <p class="name" th:text="${author.getName()}"></p>
                </div>
                <div class="description-author">
                    <div class="description" th:text="${author.getDescription()}"></div>
                </div>
            </div>
            <div class="subtitle">Bibliografía</div>
            <div class="box-cards">
                <div class="frame-1">
                    <div class="element-card" th:each="book: ${author.getBooksDto()}">
                        <div class="rectangle-card-content"></div>
                        <div class="container-image">
                            <img class="imagotipo3" th:src="@{${book.getImage()}}" />
                        </div>
                        <div class="frame-bok"></div>
                        <div class="card-author" th:text="@{${book.getTitle()}}"></div>
                        <div class="author-details-book" th:text="@{${book.getAuthorsNames()}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>