<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragments/head :: head}"></head>
    <body>
        <div class="book-details-001">
            <div th:if="${user == null}"><nav th:replace="~{fragments/component-nav01 :: nav}"></nav></div>
            <div th:if="${user != null}"><nav th:replace="~{fragments/component-nav02 :: nav}"></nav></div>
            <main>
                <div class="box-container-book-details">
                    <img class="image-book-details" th:src="@{${book.image}}" />
                    <div class="container-details">
                        <div class="book-details-category" th:text="@{${book.getCategory()}}"></div>
                        <div class="book-details-title" th:text="@{${book.getTitle()}}"></div>
                        <div class="book-details-author">
                            <span th:each="author, iterStat : ${book.authorsDto}">
                                <a th:href="@{/author/{id}(id=${author.id})}">
                                    <span th:text="${author.name}"></span>
                                </a>
                                <span th:if="${not iterStat.last}">, </span>
                            </span>
                        </div>
                        <div class="book-details-info">
                            <div class="book-details-info-label">
                                <span>
                                    <span class="book-details-info-label-span">Código:</span>
                                    <span class="book-details-info-label-span2"  th:text="@{${book.getLabel()}}"></span>
                                </span>
                            </div>
                            <div class="book-details-info-isbn">
                                <span>
                                    <b><span class="book-details-info-isbn-span">ISBN:</span></b>
                                    <span class="book-details-info-isbn-span2" th:text="@{${book.getIsbn()}}"></span>
                                </span>
                            </div>
                            <div class="book-details-info-date">
                                <span>
                                    <span class="book-details-info-date-span">Fecha de publicación:</span>
                                    <span class="book-details-info-date-span2" th:text="@{${#dates.format(book.getPublishDate(),'dd-MM-yyyy')}}"></span>
                                 </span>
                            </div>
                        </div>
                        <div class="book-details-description" th:text="@{${book.getDescription()}}"></div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>

