<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
    <body>
        <div class="login-page">
            <div id="liveAlertPlaceholder"></div>
            <div class="rectangle-6"></div>
            <div class="rectangle-1">
                <img class="group-5" src="https://raw.githubusercontent.com/sanesloEduca/imagenes/main/logo_blanco.png" alt=""/>
            </div>
            <div class="frame-5">
                <div class="frame-6"><a href="/register" class="button02">Registrarse</a></div>
                <div class="button03">Iniciar Sesión</div>
                <div class="forget-content">
                  <span>
                    <span class="forget-text">¿Has olvidado la contraseña?</span>
                    <span class="foget-url">Recuperar</span>
                  </span>
                </div>
                <form th:action="@{/logincheck}" method="post">
                    <input class="input" name="username" placeholder="Usuario"/>
                    <input type="password" name="password" class="input02" placeholder="Contraseña"/>
                    <button  type="submit" class="elements-button">Validar</button>
                </form>
            </div>
        </div>
    </body>
</html>