<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/../css/style.css">
</head>
    <body>
        <div class="register">
            <div class="rectangle-6"></div>
            <div class="right">
                <div class="container-right">
                    <img class="image" src="https://raw.githubusercontent.com/sanesloEduca/imagenes/main/logo_blanco.png" />
                </div>
            </div>
            <div class="left">
                <a href="/login" class="btn03">Iniciar sesión</a>
                <div class="title">Registrarse</div>
                <input class="input-name" placeholder="Nickname"/>
                <input class="input-email" placeholder="Correo"/>
                <input type="password" class="input-password" placeholder="Contraseña"/>
                <input type="password" class="input-password02" placeholder="Repita la contraseña"/>
                <a class="btn-validation">Validar</a>
            </div>
        </div>
    </body>
</html>