<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head"></head>
    <body>
        <div class="register">
            <div class="rectangle-6"></div>
            <div class="right">
                <div class="container-right">
                    <img class="image" src="https://raw.githubusercontent.com/sanesloEduca/imagenes/main/logo_blanco.png" />
                </div>
            </div>
            <div class="left">
                <a href="/login" class="btn03">Iniciar sesión</a>
                <div class="title-book-author">Registrarse</div>
                <form action="/register"  th:action="@{/register}" th:object="${createUserDto}" method="post" >
                    <input class="input-name" type="text" placeholder="Nickname" th:field="*{userName}"/>
                    <input class="input-email" type="text" placeholder="Correo" th:field="*{email}"/>
                    <input type="password" class="input-password" placeholder="Contraseña" th:field="*{password}"/>
                    <input type="password" class="input-password02" placeholder="Repita la contraseña" th:field="*{confirmPassword}"/>
                    <button type="submit" class="btn-validation">Validar</button>
                </form>
            </div>
        </div>
    </body>
</html>